body {
    text-align: center;
    font-family: Arial, "Open Sans", sans-serif;
}

h1 {

  background-color: brown; 
  text-align: center;
}

p {
    font-weight: 600;
}

#first {
    margin-top: 10;
    color: #0a0c1b;
}

#second {
    color: #0b193f;
}

#third {
    color: 022f36;
    margin-bottom: 10;
}

#enter {
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    color: coral;
    background-color: #025f70;
    transition: all 0.75s ease;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease; 
    -o-transition: all 0.75s ease;
    font-weight: normal;
}

#enter:hover {
background-color: #02798f;
color: #ffcd5d;
}

ul {
    text-align: left;
    margin-top: 20px;
}

li {
    list-style: none;
    padding: 10px 20px;
    color: #ffffff;
    text-transform: lowercase;
    font-weight: 600;
    border: 2px solid #025f70; 
    border-radius: 5px;
    margin-bottom: 10px;
    background: #4eb9cd;
    transition: all 0.75s ease;
    -webkit-transition:all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition:all 0.75s ease;
    -o-transition: all 0.75s ease ;
}

.done {
	background: #51DF70 !important;
	color: #00891E;
}

.delete {
	display: none;
 }